@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Poppins', sans-serif;
}
/*-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,*/

@layer components{
  .text-nunito{
    font-family: 'Nunito', sans-serif;
  }
  .text-heebo{
    font-family: 'Heebo', sans-serif;
  }
  .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255,255,255,1)), url('../public/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    html {
      @apply scroll-smooth;
    }
}